.project-container {
  margin-bottom: 3em;
}

.project-container ul {
  list-style: none;
}

.project-container ul li:last-child {
  margin-top: 10px;
}

.link-projs {
  display: flex;
  justify-content: space-between;
  width: 4em;
}

.hide-content {
  display: none;
}

.read-more-btn {
  cursor: pointer;

  &:hover {
    color: antiquewhite;
  }
}

.intro-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: fit-content;
}

.audio {
  border-radius: 45%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  margin-left: 5px;
  margin-right: 5px;
}
