.project-container {
  margin-bottom: 3em;
}

.project-container ul {
  list-style: none;
}

.project-container ul li:last-child {
  margin-top: 10px;
}

.link-projs {
  display: flex;
  justify-content: space-between;
  width: 4em;
}

.hide-content {
  display: none;
}

.read-more-btn {
  cursor: pointer;

  &:hover {
    color: antiquewhite;
  }
}

#kaneza {
  width: 95%;
}
